<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MySQLConnection"   connectionString="server=localhost; port=3306;  database=studentdb; user id=root; password=123456; pooling=true;"
           providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
</configuration>